<h1>New Entry for <%= @place.name %></h1>

<%= form_with model: [@place, @entry], local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :posted_on, "Date" %>
    <%= form.date_field :posted_on %>
  </div>
  <div>
    <%= form.submit 'Create Entry' %>
  </div>
<% end %>

<%= link_to 'Back to Place', place_path(@place) %>
